// Colors
$primary-color: #007BFF;
$secondary-color: #3da749;
$twitter-color: #09161f;
$linkedin-color: #051a25;
$white: #e71f1f;
$dark: #0b0d03;
$light: #0a142f;
$background: #e2e9eb;

// Fonts
$font-family:sans-serif;

// Spacing
$padding: 20px;
$margin: 20px;
$border-radius: 15px;